.Button {
    background-color: transparent;
    border: 1px solid #40A4C8;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 20px;
    margin: 10px;
}
.Button:hover{
    box-shadow:rgba(0,0,0,0.5) 0px 5px 10px, inset rgba(0,0,0,0.1) 0px -10px 20px;
}
.Success {
    color: #40A4C8;
}

.Danger {
    color: #f44336;
}